<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
<script type="text/javascript"  src="/static/javascript/jquery-1.4.4.min.js"></script>
<script type="text/javascript"  src="/static/javascript/home.js"></script>
<script type="text/javascript"  src="/static/javascript/xheditor/xheditor-1.2.1.min.js"></script>
<script type="text/javascript" src="/static/javascript/xheditor/xheditor_lang/zh-cn.js"></script>
<title>wetrip</title>
</head>
<body>
	<center>
		<h1>Welcome to wetrip</h1>
		<a href="/">Reload</a><br/>
		{%for f in file_list %}
		<a href="?l={{f}}" target="_blank">{{f}}</a><br/>
		{%endfor%}
	</center>
	<hr/>{{msg}}<br/>
	<a href="?l={{link}}" target="_blank">{{link}}</a>
	<br/>
	<form method="post" action="/?l={{link}}">{%csrf_token%}
	<input type="submit" value="提交"/><br/>
	<textarea id="elm1" name="tt_notes">{{notes}}</textarea>
	</form>
</body>
</html>
