@CHARSET "UTF-8";
body{font-size:16px;}
ul li{display:none;list-style-type:none;margin:0px;padding:0px;}
a{font-size:20px;color:#000}a:hover{color:#f00;}
.selected {color:#f99}
div{text-align:center;}